h1{
    color: hsl(135, 51%, 13%);
    background-color: hsl(17, 73%, 54%);
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  h2{
    color: #262b0d;
    background-color: hsl(17, 66%, 41%);;
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  } 
  h3{
    color: #262b0d;
    background-color: hsl(17, 85%, 47%);;
    font-size: 27px;
    text-align: left;
  }
  h4{
    color: #262b0d;
    font-size: 20px;
    text-align: left;
  }
  p{
    color: #262b0d;
    font-size: 15px;
    text-align: justify;
  }
  a{
    color: #d10e0e;
    font-size: 15px;
    text-align: justify;

  }