html{
  width: 75%;
  margin: auto;
  text-align: justify;
}
  
  header{
    text-align: center;
    
   
  }
  video{
    
    width: 300px;
  }
  h1{
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
  }
  h1,h2,h3{
      text-shadow: 2px 2px red;
        text-transform: uppercase;
  }
  h2{
    color: #262b0d;
    background-color: hsl(17, 66%, 41%);;
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  } 
  h3{
    color: #262b0d;
    background-color: hsl(17, 85%, 47%);;
    font-size: 27px;
    text-align: left;
  }
  h4{
    color: #262b0d;
    font-size: 20px;
    text-align: left;
  }
  .menuItem{
    color: #262b0d;
    font-size: 15px;
    text-align: justify;
  }
  a{
    color: #f1e8ea;
    font-size: 2em;
    text-align: justify;
    
    background-color: black;
  }
  video{
    
    width: 300px;
  }
  .menuItem img{
    border:10px solid crimson;
    border-radius: 63%;
    float: left;
  }
  #logo { 
    transform: skew(10deg );
  }
  a:link{
    color: darkgreen;
  } 
  a:visited{
    color: rgb(224, 192, 192);
    text-decoration: none;
      }
   a:hover{
    text-decoration: wavy;
    font-style: italic;
  } 
  a:active{
    color: darksalmon;
  }
  div{
    overflow: auto;
  }
  p{
    line-height: 2em;
     }
  li{
    display: inline;
  }
  .contact{
    transform: rotate(-25deg);
    position: absolute;
    top:140px;

    border: red 1px solid;

  }
  section>p {
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  P::first-letter{
    font-size: x-large;
    font-style: bold;
  }
  p:nth-child(even){
    color: brown;
  }
    p:nth-child(odd){
    color: red;
  }